html {
	color: darkslategray;
	background-color: #fffefd;
}

body {
	padding-top: 3rem;
}

.purchased-false {
	  height: 40px;
    background-color: red;
}

.purchased-true {
	  height: 40px;
    background-color: green;
}

.strikethrough {
	text-decoration: line-through;
	color: slategray;
}

h1 {
	text-decoration: underline;
	text-decoration-style: wavy;
}

.n-addItem {
	margin-top: 1rem;
	padding-top: 1rem;
}
